# deps
node_modules/

# build
.next/
dist/
out/

# env
.env
.env.local
.env.development
.env.production

# yarn
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.yarn/build-state.yml
.pnp.*

# npm
package-lock.json

# typescript
*.tsbuildinfo
next-env.d.ts

# uploads
public/uploads/*
!public/uploads/.gitkeep

# misc
.DS_Store
*.log
